:root {
  --clr-100: #F6F54D;
  --clr-200: #FEB139;
  --clr-300: #F55353;
  --clr-400: #143F6B;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(45deg, var(--clr-100) 0%, var(--clr-300) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  padding: 0.7rem;
  background: linear-gradient(135deg, var(--clr-300) 0%, var(--clr-100) 100%);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.btn {
  font-size: 1rem;
  padding: 0.5rem;
  background-color: var(--clr-400);
  color: white;
  border: none;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
  border-radius: 5px;
}

p {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  color: var(--clr-400);
}

h1 {
  font-size: 3.5rem;
  color: var(--clr-400);
  text-align: center;
}

.underline {
  border-bottom: 3px solid var(--clr-400);
}

/* Header */

header {
  display: flex;
  flex-direction: column;
}

header h1 {
  align-self: start;
}

header p {
  align-self: flex-end;
  font-size: 1.5rem;
  padding: 0;
}

/* First Screen */

#main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 367px;
  width: 100%;
}

#start-game {
  color: var(--clr-400);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/* Game screen */

.game-container {
  padding: 0.5rem;
  display: none;
  flex-direction: column;
  justify-content: center;
}

.score-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.score-container p {
 padding: 0.1rem 0.3rem;
 margin: 0.5rem 0;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.5rem;
  gap: 0.5rem;
  border-radius: 0.5rem;
}

.board-space {
  background-color: var(--clr-200);
  min-height: 5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 2px 2px rgba(20, 64, 107, 0.2);
}

.board-space {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 4rem;
  color: var(--clr-300);
}

.player-o-style {
  color: var(--clr-400);
}

/* End game screen */

#new-game {
  display: none;
  flex-direction: column;
  padding: 1rem;
}

#winner-message {
  font-size: 2rem;
  text-align: center;
}
/* Animations */

.fade-in {
  animation: fade-in 500ms forwards;
}

.fade-out {
  animation: fade-out 500ms forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}